body{
    padding: 0;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#edf1d6;
}

.top-nav{
    background-color:#9dc08b;
    overflow: hidden;

}

.top-nav a{
    color: #40513b;
    display: block;
    padding: 14px 16px;
    float: left;
    text-decoration: none;
    text-align: center;
}

.Ativo{
    background-color:#edf1d6;
}

.top-nav a:hover:not(.Ativo) {
    text-decoration: underline;
    color: azure;
 }

 
 

h1{
    text-align: center;
    color:#40513b;

}
p{
    text-align: center;
    color:#609966;
}

.menu{
    text-align: center;
}














